:root {
    --bg: #070c2a;
    --color_text: #f5f5f5;
    --color_title: #f39200;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg);
}

.header_ {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3rem;
    height: 5rem;
    background-color: var(--bg);
}

.header_ img {
    margin-right: 3rem;
    
}

.header_ .menu_ {
    display: flex;
    gap: 3rem;
}

.header_ .menu_ a{
    text-decoration: none;
    color: var(--color_text);
    padding: 10px;
    border-left: 4px solid var(--bg);
}

.header_ .menu_ a:hover{
    border-left: 4px solid var(--color_title);
}
