:root {
    --bg: #1d1d1b;
    --color_text: #f5f5f5;
    --color_title: #f39200;
    --font_tagline: "../fonts/Fashion Fetish Light.ttf"
}

@font-face {
  font-family: 'Fashion_Fetish_light';
  src: url('../fonts/Fashion\ Fetish\ Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Fashion_Fetish_Bold';
  src: url('../fonts/Fashion\ Fetish\ Bold.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg);
     background-image: url(../assets/Background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 450px;
    background-position-y: -400px;
}

.header_ {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3rem;
    height: 5rem;
}

.header_ img {
    margin-right: 3rem;
    
}

.header_ .menu_ {
    display: flex;
    gap: 3rem;
}

.header_ .menu_ a{
    text-decoration: none;
    color: var(--color_text);
    padding: 10px;
    border-left: 4px solid var(--bg);
}

.header_ .menu_ a:hover{
    border-left: 4px solid var(--color_title);
}

.main_ #home{
    height: 27rem;
   
}

.main_ #home h1 {
    margin: 10rem 0rem 0rem 10rem;
    color: var(--color_title);
    font-size: 36pt;
    font-family: 'Fashion_Fetish_Bold';
}
.main_ #home h2 {
    margin: 0rem 0rem 0rem 10rem;
    color: var(--color_text);
    font-size: 18pt;
    font-family: 'Fashion_Fetish_light';
}

.main_ #home p {
    margin: 5rem 0rem 2rem 10rem;
    color: var(--color_text);
    font-size: 12pt;
    width: 15rem;
}

.main_ a{
    text-decoration: none;
    margin-left: 10rem;
    padding: 10px 20px 10px 20px;
    background-color: var(--color_title);
    border-radius: 2rem;
    color: var(--bg);
    font-weight: bolder;
}
